<!-- <h1>Today</h1> -->
<% day = Time.now.strftime("%A")
  month = Time.now.strftime("%B")
  date = Time.now.day
  year = Time.now.year
%>
<h1><%= "The date is #{day}, #{month} #{date}, #{year}"%></h1>
