<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date</title>
  </head>
  <body>
    <h1>The date is</h1>
    <!-- <%= date = DateTime.new %> -->
    <h2> <%= DateTime.now.strftime('%A, %B %d, %Y')%></h2>
  </body>
</html>
